@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
}

html {
  --mdc-list-list-item-label-text-font: "Montserrat", "Helvetica Neue", sans-serif;
  --mdc-list-list-item-label-text-size: 14px;
  --mat-paginator-container-text-color: #000000;
  --mat-paginator-container-background-color: #ffffff;
  --mat-paginator-enabled-icon-color: #000000;
  --mat-paginator-disabled-icon-color: #737373;
  --mat-paginator-container-size: 56px;
  --mat-select-panel-background-color: #ffffff;
  --mat-option-label-text-color: #000000;
  --mat-select-enabled-arrow-color: #000000;
  --mat-select-enabled-trigger-text-color: #000000;
  --mat-form-field-container-text-font: "Montserrat", "Helvetica Neue", sans-serif;
  --mat-form-field-: #000000;

  --mdc-filled-text-field-container-color: #ffffff;
  --mdc-filled-text-field-input-text-placeholder-color: #000000;
  --mdc-filled-text-field-input-text-color: #000000;
}

body {
  margin: 0; font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

h1, p {
  font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.highlighted-text {
  background-color: yellow;
}
